<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <link rel="icon" href="logo.png" type="image/x-icon" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style type="text/css">
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="margin-top: 80px;">
            <h1>404</h1>
            <p>Sorry, Page Not Found! Please check your request!</p>
            <a class="btn btn-primary" href="/index" style="margin-top: 20px;">to Home Page</a>
        </div>
    </div>
</body>

</html>